*, body {
    box-sizing: border-box;
    background-color: rgb(144, 135, 135);
    margin: 0;
    align-items: center;
    justify-content: center;
}
html {
    overflow-x: hidden;
}
.title {
    top: 20px;
    color: rgb(255, 243, 228);
    position: relative;
    left: 20px;
}

input[type="number"] {
    background-color: rgba(0, 0, 0, 0.121);
    padding-right: 92px;
    color: white;
}

#mass1 {
    margin-bottom: 4px;
}
#mass2 {
    margin-bottom: 4px;
}

#box1Arrow {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(58, 51, 51, 0.1);
    font-family: "Manrope", sans-serif;
    top: 475px;
    left: 60px;
    font-size: 100px;
    user-select: none;
}

#box2Arrow {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(58, 51, 51, 0.1);
    font-family: "Manrope", sans-serif;
    top: 475px;
    right: 60px;
    font-size: 100px;
    user-select: none;
}

#leftBorder {
    background: rgb(30, 30, 30);
    position: absolute;
    border-style: solid;
    border-width: 2.5px;
    border-color:rgb(52, 52, 52);
    top: 450px;
    left: 50px;
    width:10px;
    height:200px;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.503);
}

#rightBorder {
    background: rgb(30, 30, 30);
    position: absolute;
    border-style: solid;
    border-width: 2.5px;
    border-color:rgb(52, 52, 52);
    top: 450px;
    right: 50px;
    width:10px;
    height:200px;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.503);
}

.box1Create {
    top: 80px;
    left:5px;
    padding: 10px;
    position:absolute;
    background-color: rgb(163, 155, 155);
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color:rgb(52, 52, 52);
    color: rgb(255, 243, 228);
}

.box2Create {
    top: 185px;
    left:5px;
    padding: 10px;
    position:absolute;
    background-color: rgb(163, 155, 155);
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color:rgb(52, 52, 52);
    color: rgb(255, 243, 228);
}


.header {
    color: rgb(255, 217, 170);
}

h3 {
    background-color: rgb(163, 155, 155);
}

#runButton {
    position:absolute;
    top:300px;
    left:10px;
    
    border-color: rgb(224, 191, 0);
    color:rgb(248, 229, 204);
    background-color: rgb(169, 158, 158);
    font-size: 20px;
    padding-inline: 30px;
    padding-block: 2px;
}

#stopButton {
    display: none;
    position:absolute;
    top:300px;
    left:218px;
    
    border-color: rgba(255, 247, 199, 0.625);
    color:rgb(248, 229, 204);
    background-color: rgba(232, 116, 116, 0.415);
    font-size: 20px;
    padding-inline: 30px;
    padding-block: 2px;
}

.box{
    background: rgb(213, 198, 198);
    position: absolute;
    border-style: solid;
    border-width: 2px;
    border-color:rgb(52, 52, 52);
    top: 550px;
    box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.3);
}
